@import '../../../../styles/variables';

.item {
  margin-bottom: 20px;
  border: 1px solid $almostWhiteGray;
  border-top: 4px solid $lighterGray;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  transition: border-top 0.5s;
  -webkit-transition: border-top 0.5s;
  -moz-transition: border-top 0.5s;
  -o-transition: border-top 0.5s;

  .item-header {
    padding: 10px;
    position: relative;

    i {
      font-size: 1.5em;
      position: absolute;
      color: $darkGrey;
      top: 10px; right: 15px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.content {
  margin-top: 20px;

  .actions {
    margin-left: 10px;

    .action-button {
      position: relative;
      display: block;
      width: 180px;
      float: left;
      border: 1px solid $almostWhiteGray;
      border-radius: 5px;
      margin: 0 10px 20px 0;

      i {
        position: absolute;
        top: 10px; right: 10px;
        color: $mainColor;
      }
    }
  }

  .content-item {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $almostWhiteGray;

    label:first-child {
      width: 15%;
      float: left;
    }

    label:last-child {
      width: 80%;
      float: left;

      margin-left: 5%;
    }
  }
}

.selected {
  border-top: 4px solid $mainColor;

  .item-header i {
    color: $mainColor;
  }
}
