$mainFont: 'Ubuntu', sans-serif;

$lightestGray: #d3d3d3;
$lighterGray: #b5b5b5;
$lightGray: #8c8c8c;
$almostWhiteGray: #f0f0f0;
$darkGrey: #434c5e;

$dangerRed: #ff2d2d;
$lightRed: #ff6981;
$lighterRed: #ffa19b;
$genericSuccess: #5c940d;

$mainColor: #00a9ff;

