<mat-sidenav-container id="menu">
  <mat-sidenav-content class="content">
    <div class="real-menu">

      <div class="item drawer">
        <i class="icon fas fa-bars"></i>
      </div>

      <div class="item hoverable"
        (click)="onAddPerson()">
        <i class="icon fas fa-user-plus"></i>
        <label class="label">DODAJ</label>
      </div>

      <div class="item hoverable">
        <i class="icon fas fa-search"></i>
        <label class="label">PRETRAŽI</label>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
