@import './../../../../styles/_variables';

#menu {
  width: 100px;
  float: left;
  background-color: white;

  font-family: $mainFont;

  .item {
    width: 100%;
    float: left;

    padding-bottom: 20px;

    border-bottom: 1px solid $almostWhiteGray;

    .label {
      display: block;
      width: 100%;
      float: left;

      text-align: center;

      color: $darkGrey;

      font-size: 0.7em;
    }

    .icon {
      display: block;
      margin-left: 30%;
      float: left;
      font-size: 1.3em;
      background-color: white;
      padding: 10px;
      color: $darkGrey;
    }

    &:last-child, &:first-child {
      border: none;
      margin-bottom: 0;
    }
  }

  .hoverable {
    &:hover .icon, &:hover .label {
      cursor:pointer;
      color: $mainColor;
    }
  }

  .drawer {
    margin-bottom: 40px;
  }

  .real-menu {
    width: 100px;
    float: left;
  }
}
